@media screen and (orientation: portrait) {
  
  body{
  transition: background-color 0.5s ease;
   
    font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 14.5px;
  background: linear-gradient(45deg,#FF0074, #5300FF);
    background-size: cover;
    background-attachment: fixed;
    
  background-position: center;
  width: 100vw;
  margin: 0;
 
}

#we{
  box-shadow: none;
}
    .changed-background {
        
            
        }
  
#yo{
  text-align: center ;
  font-style: italic;
  font-size: 25px;
  color: #fff;
  background: #872FFF5E;
  margin: 30px;
  border-radius: 15px;
}
#dots{
  width: 20px
}
#yu{
  background: none;
}
#xy{
  width: 150px;
  position: relative;
  right: 5px
}

.h2{
  position: absolute;
  font-size: 12px;
  top: 0;
  white-space: nowrap;
  left: 1190px;
}

div{border: 1px solid rd}
.main{
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 2;
  gap: 2px;
  background-size: 900px;
  transition: background 200ms ease;
  }
  



#ul{
  justify-content: space-between ;
  align-items: center ;
  flex-direction: row;
  gap: 15px;
  padding: 12px 10px 12px;
  display: flex;
  transition: all 200ms ease;
  background : transparent;
  top: 14px;
  position: absolute;
  z-index: -1
}
#ul a{
  
  text-decoration: none;
  background: linear-gradient(45deg,#FF0074, #5300FF);
  position: relative;
  right: 2px;
  color:#fff;
  padding: 0 12px;
  font-size: 18px;
  white-space: nowrap;
  border-radius: 8px;
}
.re{
  font-size: 25px
}

.intro h1{
}

 
#sidenav img{}

.intro2 p{
  color: #000;
  margin: 3px;
  font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
}

#te{color: #E0E1F1;
  font-size: 24px
}

h1{
  text-align: center ;
  box-shadow: -3px 0 20px #000;
  color: #fff;
  background: linear-gradient(45deg,#FF0074, #5300FF);
  margin: 30px;
  border-radius: 15px;
}

.intro,.intro0,.intro2{
  z-index: 2
}

.intro0{height:70px;
  background: linear-gradient(75deg,#FF0AA0,#FF3DB3,#250AFF);
  justify-content: space-between ;
  box-shadow:  -35px 6px 39px #000 ;
  display: flex;
  z-index: 2;
  align-items: center 
}
#menubutton{
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0
}
#imk{
  width: 180px;
}

#dots{
  width: 280px;
  position: relative;
  left: -55px;

}
  
.intro2{
  z-index: 1;
  display: flex;
  position: relative;
  justify-content: space-around;
  transition: all 200ms ease-in;
  align-items: center;
  flex-direction: column;
  background: transparent ;
  margin: 0;
}
#tr{
  color: #fff;
  text-align: center;
  font-size: 27px
}
   
#te{color: #fff}
.intro2 li p{color: #E0E1F1 }
#ps{
  color: #fff;
  font-size:
  19px;
  text-align: center;
  position: relative;
  bottom: 30px ;
  
}

li p{
  color: #fff
}

strong{
  color: #fff ;
  
  font-size: 27px
}

.box img{
  transition: all 100ms ease-in;
  width : 230px;
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
  height : 250px;
  border-radius: 15px;
}

.intro2 h1{
  background: none;
  color: #E0E1F1 ;
  
}

#hirebutton{
  animation: rt 2s linear infinite;
  padding: 0 20px 0;
  position: relative;
  left: 130px;
  display : flex;
  align-self: center;
  bottom: 20px;
  border-radius: 17px;
  font-size: 27px;
  border : 0;
  transform: scale(0);
  transition: all 200ms ease;
  color: #fff;
  background: linear-gradient(45deg,#FF0074, #5300FF);;
  box-shadow: 0 0 10px #000
}
#vm{white-space: nowrap;
  position: absolute ;
  top: 7px;
  font-size: 20px;
  right: 50px;
  text-decoration: none ;
  color: #fff;
  
}
li{
  display: flex;
  flex-direction: column;
  position: relative;
  left: -20px;
  list-style: none;
  background:linear-gradient(45deg,#FF0074B3, #5300FFB5); ;
  padding: 15px;
  width: 300px;
  border-radius: 16px;
  box-shadow: 1.5px -10px 22px #0707E6;
 
  animation: ro 2s linear infinite; 
}
@keyframes ro{
  0%{
box-shadow:  11px -10px 22px ,#0707E6
  }
  50%{
    
box-shadow:  11px -10px 22px,#0707E617
             
  
  }
  100%{
box-shadow:  6px -6px 12px ,#0707E6
             -6px 6px 12px #850866;
  }
}
.contact{
  z-index: 3;
   border-radius: 13px;
   box-shadow:  -3px 0 20px #000;;
  height: 320px;
  width: 300px;
  color: #fff;
  transform-origin: top;
  position: relative;
  left: 42px;
  background: linear-gradient(45deg,#FF0074B3, #5300FFB5);
  display: none;
  flex-direction: column;
  gap: 25px;
}
#tku{
  color: #fff;
  background: transparent;
  box-shadow: none;
}
#cx1{
  scale: 0;
  transition: all 280ms ease;
}
#cx,#cx1{
  position: absolute;
  outline: none;
  width: 30px;
  right: 3px;
  z-index: 2;
}
.row{
  z-index: 1;
  color: #fff;
  position: relative;
  margin: 2px;
  display : flex;
  gap: 10px;
  flex-direction: row;
  
}

.row p{color: #fff}
.row img{
  width: 50px
}
.io{
  font-size: 18px;
  color: #fff;
  position: relative ;
  top: 5px;
  text-align: center;
  
 
}
@keyframes rt{
  0%{scale: 1.1}
  50%{scale:1 }
  100%{scale:1.1}
}

.box img:hover{
  box-shadow: 0 0 18px #6F7293;
}

#bp{
  text-align: center;
  color: #fff;
  font-size: 19px;
}
#bp1{
  text-align: center;
  color: #fff;
  font-size: 19px;
}

.btn{
  justify-content: middle;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
  background-image: url(/close-up-man-wearing-virtual-reality-gadget_23-2148864947.webp);
  background-size: cover;
  background-position: center;
}
#tt{
  font-size: 15px;
  color: #004DFF;
  background: #fff;
  border: 0;
  border-radius: 32px;
  padding: 5px;
}
.abt{
  height: 300px;
  
}

.box{
  z-index: 1;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: row;
  position: relative ;
  left:4px;
  gap: 25px;
  align-items: center ;
  height : 300px;
  overflow-y: hidden;
  scrollbar-color: none ;
  overflow-x: scroll ;
  padding: 0px;
  background: linear-gradient(-180deg,#72737F,#A2A3B2,#67686E,#767780) ;
  background: transparent;
}

#te{
  text-align: center ;
}
#ul{}
#cac{
    transition: all 280ms ease;

width: 30px;
}
#cac1{position: relative;
right: 28px;
transition: all 270ms ease;
  background:none;
width: 20px;
border-radius: 10px;
  border: 0;
  
}

.container{
  width: 520px;
  
  border-right: 2px solid #fff;
  position: relative;
  left: 3px;
  margin: -56px;
  height: 355px;
  padding-right: 30px;
  scale: 0.6;
}
.container h1{
  text-align: center ;
  background: #6200FC;
  font-size: 17px;
  padding: 10px;
  white-space: nowrap;
  border-radius: 15px;
}
.container p{
  position: relative;
  bottom: 14px;
  text-align: center;
  color:#fff
}
}






