@media screen and (orientation: portrait){
 
  body{
  transition: background-color 0.5s ease;
   
    font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 14.5px;
  background: url(/amah.jpg);
    background-size: cover;
    background-attachment: fixed;
    
  background-position: center;
  width: 100vw;
  margin: 0;
 
}

    .changed-background {
        
            
        }
  
#yo{
  text-align: center ;
  font-style: italic;
  font-size: 25px;
  color: #fff;
  background:#42445A;
  margin: 30px;
  border-radius: 15px;
}
#dots{
  width: 20px
}
#yu{
  background: none;
}
#xy{
  width: 150px;
  position: relative;
  right: 5px
}

.h2{
  position: absolute;
  font-size: 12px;
  top: 0;
  white-space: nowrap;
  left: 1190px;
}

div{border: 1px solid rd}
.main{
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 2;
  gap: 2px;
  background-size: 900px;
  transition: background 200ms ease;
  }
  



#sidenav{
  justify-items: center ;
  align-items: center ;
  flex-direction: row;
  border: 1px solid blue;
  height: 111px;
  display: none;
  background : #ffee00;
  width: 300px;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 4
}
.re{
  font-size: 25px
}

.intro h1{
}

 
#sidenav img{}

.intro2 p{
  color: #000;
  margin: 3px;
  font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
}

#te{color: #E0E1F1;
  font-size: 24px
}

h1{
  text-align: center ;
  color: #fff;
  background: #33343A;
  margin: 30px;
  border-radius: 15px;
}

.intro,.intro0,.intro2{
  z-index: 2
}

.intro0{height:70px;
  background: linear-gradient(88deg,#FF0AA0,#FF3DB3,#250AFF);
  justify-content: space-between ;
  display: flex;
  z-index: 2;
  align-items: center 
}
#menubutton{
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0
}
#imk{
  width: 180px;
}

#dots{
  width: 280px;
  position: relative;
  left: -55px;

}
  
.intro2{
  z-index: 1;
  display: flex;
  justify-content: space-around;
  margin : 2px;
  
  align-items: center;
  flex-direction: column;
  background: transparent ;
  margin: 0;
}
#tr{
  color: #fff;
  text-align: center;
  font-size: 27px
}

#te{color: #fff}
.intro2 li p{color: #E0E1F1 }
#ps{
  color: #fff;
  font-size:
  19px;
  text-align: center;
  position: relative;
  bottom: 30px ;
  
}

li p{
  color: #fff
}

strong{
  color: #fff ;
  
  font-size: 27px
}

.box img{
  transition: all 100ms ease-in;
  width : 230px;
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
  height : 250px;
  border-radius: 15px;
}

.intro2 h1{
  background: none;
  color: #E0E1F1 ;
  
}

#hirebutton{
  animation: rt 2s linear infinite;
  padding: 0 20px 0;
  position: relative;
  bottom: 20px;
  border-radius: 17px;
  font-size: 27px;
  border : 0;
  transform: scale(0);
  transition: all 200ms ease;
  color: #0418F6;
  background: #fff;
  box-shadow: 0 0 10px #000
}
.contact{
  z-index: 3;
  border: 1px solid rd;
  height: 300px;
  width: 300px;
  transform-origin: top;
  position: relative;
  background: #fff;
  display: none;
  flex-direction: column;
  gap: 25px;
}
#tku{
  color: #000
}
#cx{
  position: absolute;
  width: 30px;
  right: 3px;
  z-index: 2;
}
.row{
  z-index: 1;
  position: relative;
  margin: 2px;
  display : flex;
  gap: 10px;
  flex-direction: row;
  
}
.row img{
  width: 50px
}
.io{
  font-size: 18px;
  position: relative ;
  top: 10px;
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
@keyframes rt{
  0%{scale: 1.1}
  50%{scale:1 }
  100%{scale:1.1}
}

.box img:hover{
  box-shadow: 0 0 18px #6F7293;
}

#bp{
  text-align: center;
  color: #fff;
  font-size: 19px;
}
#bp1{
  text-align: center;
  color: #fff;
  font-size: 19px;
}

.btn{
  justify-content: middle;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
  background-image: url(/close-up-man-wearing-virtual-reality-gadget_23-2148864947.webp);
  background-size: cover;
  background-position: center;
}
#tt{
  font-size: 15px;
  color: #004DFF;
  background: #fff;
  border: 0;
  border-radius: 32px;
  padding: 5px;
}
.abt{
  height: 300px;
  
}

.box{
  z-index: 1;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: row;
  position: relative ;
  left:4px;
  gap: 30px;
  align-items: center ;
  height : 300px;
  overflow-y: hidden;
  scrollbar-color: none ;
  overflow-x: scroll ;
  padding: 0px;
  background: linear-gradient(-180deg,#72737F,#A2A3B2,#67686E,#767780) ;
  background: transparent;
}

#te{
  text-align: center ;
}
#ul{
  display: none
}
#cac{
width: 30px;
}
#cac1{position: relative;
right: 28px;
  background:none;
width: 20px;
border-radius: 10px;
  border: 0;
  
}

.container{
  width: 520px;
  
  border-right: 2px solid #fff;
  position: relative;
  left: 3px;
  margin: -56px;
  height: 355px;
  padding-right: 30px;
  scale: 0.6;
}
.container h1{
  text-align: center ;
  background: #6200FC;
  font-size: 17px;
  padding: 10px;
  white-space: nowrap;
  border-radius: 15px;
}
.container p{
  position: relative;
  bottom: 14px;
  text-align: center;
  color:#fff
}

}